* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.node {
  background-color: #000;
  border-radius: 50%;
}
